* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  /* Primary */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* Neutral */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* Gradients */
  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  font-family: "Josefin Sans", sans-serif;

  font-size: 1.6rem;
  /* position: relative; */
}

*:focus {
  box-shadow: 0 0 0 8px hsla(0, 93%, 68%, 0.4);
  outline: none;
}

/*****************/
/* MAIN SECTION */
/*****************/

.hero {
  display: grid;
  grid-template-columns: 60% 40%;

  /* width: 100vw; */
  height: 100vh;
}

.hero-img {
  background-image: url(images/hero-desktop.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-wrapper {
  background-image: linear-gradient(
      135deg,
      var(--gradient-color-1),
      var(--gradient-color-2)
    ),
    url(images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.8rem 28rem 0 14rem;
}

.logo-wrapper {
  margin-bottom: 8.6rem;
}

.heading {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: var(--desaturated-red);
  font-weight: 300;
  letter-spacing: 1.5rem;

  margin-bottom: 1.8rem;
}

.heading .text-highlight {
  color: var(--dark-grayish-red);
  font-weight: 600;
  display: block;
}

.text {
  color: var(--desaturated-red);
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.email-form {
  position: relative;
}

.email-form input {
  border: 1.5px solid #ddd;
  padding: 1.4rem 2rem;
  border-radius: 2.2rem;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--dark-grayish-red);
  width: 100%;
}

.email-form input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: inherit;
  opacity: 0.4;
  font-size: inherit;
}

.submit-btn {
  padding: 1.4rem 3.6rem;
  border-radius: 2.4rem;
  border: none;
  cursor: pointer;
  background: var(--gradient-2);
  color: hsl(0, 0%, 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon-arrow {
  width: 1.4rem;
  height: 1.8rem;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

/* 1200px or below */
@media (max-width: 75em) {
  .text-wrapper {
    padding: 4.8rem 10rem 0 10rem;
  }
}

/* 912px or below */
@media (max-width: 57em) {
  html {
    font-size: 56.25%;
  }

  .text-wrapper {
    padding: 4.8rem 6rem 0 6rem;
  }
}

/* 768px or below */
@media (max-width: 48em) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 10rem;
    height: 90vh;
  }

  .logo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    width: 100%;
    background: var(--gradient-1);
    margin: 0;
    padding: 3.2rem 0 3.2rem 3.2rem;
  }

  .hero-img {
    background-image: url(images/hero-mobile.jpg);
    grid-row: 1 / span 1;
  }

  .text-wrapper {
    grid-row: 2 / span 2;
    padding: 6.4rem 8rem 0 8rem;
  }

  .heading,
  .text {
    text-align: center;
  }

  .heading {
    font-size: 4.8rem;
  }
}

/* 368px or below */
@media (max-width: 26em) {
  html {
    font-size: 50%;
  }

  .text-wrapper {
    padding: 6.4rem 3.2rem 0 3.2rem;
  }
}
