* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /************ PRIMARY ***************/

  /* Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Gradient */
  /* Background gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /************* NEUTRAL *************/

  /* Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--soft-violet),
    var(--soft-blue)
  );
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/***********************/
/* Utility Classes */
/***********************/

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-1-cols {
  grid-template-columns: 1fr;
}

/***********************/
/* Main Section */
/***********************/

main {
  padding: 2.4rem 6rem;
}

.container {
  max-width: 110rem;

  background-color: #fff;
  border-radius: 1.9rem;
  position: relative;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.illustration-box {
  width: 19.1rem;
  height: 18.4rem;
  background-image: url(images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 23rem;
  left: -9.5rem;
}

.bg-pattern {
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  width: 96.6rem;
  height: 94.5rem;
  top: -27rem;
  left: -58rem;
}

.illustration-woman {
  background-image: url(images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  width: 47.2rem;
  height: 35.9rem;
  top: 10rem;
  left: -7rem;
}

.faq-text-box {
  padding: 6.8rem 9.6rem 9.6rem 0;
}

.title {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
}

.faq-list-item {
  padding: 1.2rem 1.2rem 1.2rem 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.question-btn {
  display: flex;
  align-items: center;
  gap: 6.8rem;

  width: 100%;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1rem;

  transition: all 0.3s;
}

.question {
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue);

  transition: all 0.3s;
}

.question-btn:hover > .question {
  color: var(--soft-red);
}

.icon-arrow-down {
  margin-left: auto;
  width: 1.5rem;
  transition: all 0.3s;
}

.faq-list-item .answer {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  transform: translateY(-20%);

  font-size: 1.4rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  transition: all 0.3s;
}

/* Active State */
.question-btn.show .question {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.question-btn.show .icon-arrow-down {
  transform: rotate(180deg);
}

.question-btn.show + .answer {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  height: 100%;
  margin-bottom: 0.8rem;

  transform: translateY(0);
}

/***********************/
/* Media Queries */
/***********************/

@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }

  main {
    padding: 20rem 2.4rem 4.8rem 2.4rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    row-gap: 2.4rem;
  }

  .illustration-box {
    display: none;
  }

  .img-box {
    overflow: visible;
  }

  .bg-pattern {
    background-image: url(images/bg-pattern-mobile.svg);
    width: 26.6rem;
    height: 11.5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .illustration-woman {
    background-image: url(images/illustration-woman-online-mobile.svg);
    width: 29rem;
    height: 22rem;
    top: -14rem;
    left: 50%;
    transform: translate(-50%);
  }

  .faq-text-box {
    padding: 0 2.4rem 4.8rem 2.4rem;
  }

  .title {
    text-align: center;
  }
}

/* 480px or below */

@media (max-width: 30em) {
  html {
    font-size: 50%;
  }

  .question-btn {
    gap: 1.2rem;
  }

  .question {
    font-size: 1.4rem;
  }

  .icon-arrow-down {
    width: 1.2rem;
  }
}
