* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  background-color: var(--light-grayish-blue);

  display: grid;
  grid-template-rows: 90% 10%;
  place-items: center;
  min-height: 100vh;
}

/****************/
/* MAIN SECTION */
/****************/

main {
  padding: 0 2.4rem;
}

.preview-card {
  max-width: 90rem;

  display: grid;
  grid-template-columns: 40% 60%;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 9px 0 0 9px;
  object-fit: cover;
}

.card-text {
  padding: 3.2rem 4rem;
  background-color: #fff;
  border-radius: 0 9px 9px 0;
}

.heading {
  color: var(--very-dark-grayish-blue);
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.4;

  margin-bottom: 1.6rem;
}

.text {
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.author-wrapper {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  width: 100%;
}

.author-img {
  width: 10%;
  height: auto;
  border-radius: 50% 50%;
}

.author-name {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
}

.article-date {
  color: var(--desaturated-dark-blue);
}

.share-btn-wrapper {
  margin-left: auto;
  border: none;
  background-color: var(--light-grayish-blue);
  padding: 1.2em;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
}

.share-btn-wrapper:hover {
  background-color: var(--very-dark-grayish-blue);
}

.icon--share {
  font-size: 1.8rem;
  transition: all 0.3s;
}

.share-btn-wrapper:hover .icon--share {
  color: #fff;
}

/****************/
/* FOOTER */
/****************/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
